CompileFlags:
  Add:
    - --cuda-path=C://Program Files//NVIDIA GPU Computing Toolkit//CUDA//v12.8
    - -LC://Program Files//NVIDIA GPU Computing Toolkit//CUDA//v12.8//lib
    - -IC://Program Files//NVIDIA GPU Computing Toolkit//CUDA//v12.8//include
